#top3jps-container .top3jps-sidebar-jackpot,
#top3jps-footer-container .top3jps-sidebar-jackpot{
    width: 100%;
    max-width: 242px;
    text-align: left;
    height: 68px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#top3jps-container .top3jps-button,
#top3jps-footer-container .top3jps-button{
    background-color: #ff6f23;
    background-image: -moz-linear-gradient(#ff6f23, #ff562f);
    background-image: -o-linear-gradient(#ff6f23, #ff562f);
    background-image: -ms-linear-gradient(#ff6f23, #ff562f);
    background-image: -webkit-linear-gradient(#ff6f23, #ff562f);
    -moz-box-shadow: 0 3px 0 #db560f;
    -webkit-box-shadow: 0 3px 0 #db560f;
    box-shadow: 0 3px 0 #db560f;
    display: inline-block;
    padding: 0 10px;
    margin-top: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    line-height: 32px;
    font-size: 1.1em;
    text-shadow: 0px 0px 1px #793800;
    font-family: Arial, Helvetica, sans-serif;
}

#top3jps-container .top3jps-button:hover{
    background-color: #ff852b;
    background-image: -moz-linear-gradient(#FF852B, #FF852B);
    background-image: -o-linear-gradient(#FF852B, #FF852B);
    background-image: -ms-linear-gradient(#FF852B, #FF852B);
    background-image: -webkit-linear-gradient(#FF852B, #FF852B);
    color: #fff;
    text-decoration: none;
}

#top3jps-container .top3jps-sidebar-jackpot:nth-of-type(1){
    margin-top: 5px;
}

#top3jps-container .top3jps-sidebar-jackpot:first-child .top3jps-countdownTimer::before,
#top3jps-footer-container .top3jps-sidebar-jackpot:first-child .top3jps-countdownTimer::before{
    content: '';
    background: url('images/lp-close.gif') 0 0 no-repeat;
    height: 10px;
    width: 19px;
    display: block;
    float: left;
    margin: 7px 5px 0 0;
}

#top3jps-container .top3jps-logos,
#top3jps-footer-container .top3jps-logos{
    float: left;
    margin-top: 8px;
    line-height: 1;
}

#top3jps-container img{
    max-width: 85px;
}

#top3jps-container .top3jps-wrapper,
#top3jps-footer-container .top3jps-wrapper{
    float: right;
    vertical-align: middle;
    line-height: 1.8;
    font-size: 1em;
}

#top3jps-container  .top3jps-countdownContainer,
#top3jps-footer-container  .top3jps-countdownContainer{
    float: left;
    width: 100%;
    line-height: 1.3;
    font-size: 14px;
}

#top3jps-container .top3jps-countdownTitle,
#top3jps-container .top3jps-countdownMobileTitle{
    float: left;
    color: black;
    font-size: 1.1em;
    letter-spacing: -0.05em;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
}

#top3jps-container .top3jps-countdownMobileTitle{
    display: none;
}

#top3jps-container .top3jps-countdownTimer,
#top3jps-footer-container .top3jps-countdownTimer{
    display: block;
    float: right;
    color:#303030;
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
}

#top3jps-footer-container span.lp-sidebar-header{
    display: none;
}

#top3jps-footer-container #top3jps-container{
    max-width: 303px;
    font-size: 14px !important;
}

#top3jps-footer-container .top3jps-sidebar-jackpot{
    color: #fff;
    padding: 0 15px;
    margin-top: 12px;
    max-width: 345px;
    height: 55px;
}

#top3jps-footer-container .top3jps-sidebar-jackpot .top3jps-button{
    height: 30px;
    font-size: 0.9em;
    line-height: 32px;
}

#top3jps-footer-container .top3jps-countdownContainer{
    text-align: center;
    width: 108px;
    width: -moz-calc(100% - 180px);
    width: -webkit-calc(100% - 180px);
    width: calc(100% - 180px);
    vertical-align: middle !important;
}

#top3jps-footer-container .top3jps-countdownTitle,
#top3jps-footer-container .top3jps-countdownMobileTitle{
    display: inline-block;
    line-height: 15px;
    margin-top: 7px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fd641b !important;
}

#top3jps-footer-container .top3jps-countdownTitle{
    display: none;
}

#top3jps-footer-container .top3jps-countdownTimer{
    float: none;
    font-size: 15px;
    line-height: 13px;
    display: inline-block;
}

#top3jps-footer-container .top3jps-countdownTimer::before{
    display: inline-block;
    margin: 1px 5px 0 0;
}

#top3jps-footer-container .top3jps-countdownTimer{
    float: none;
    font-size: 15px;
    line-height: 13px;
    display: inline-block;
}

#top3jps-footer-container .top3jps-countdownTimer::before{
    display: inline-block;
    margin: 1px 5px 0 0;
}

#top3jps-footer-container #top3jps-closer::before{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    bottom: 45px;
    background-color: #aaa;
    border-radius: 20px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '+';
    font-size: 34px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 1300;
}

#top3jps-footer-container{
    position: fixed;
    bottom: 0;
    left: auto;
    right: auto;
    width: 100%;
    background: #fff;
    padding: 0;
    text-align: center;
    border: 1px solid #aaa;
    z-index: 1000;
    height: 68px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}


#top3jps-footer-closer{
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
    width: 34px;
    height: 34px;
    background-color: #aaa;
    border-radius: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 7;
}

.top3jps-sidebar-jackpot div,
.top3jps-sidebar-jackpot a,
.top3jps-sidebar-jackpot img{
    vertical-align: middle !important;
}





@media screen and (max-width: 992px){
    #top3jps-container .top3jps-sidebar-jackpot:first-child .top3jps-countdownTimer::before,
    #top3jps-footer-container .top3jps-sidebar-jackpot:first-child .top3jps-countdownTimer::before{
        margin: 9px 5px 0 0;
    }
}

@media only screen and (min-width: 375px){

    #top3jps-footer-container .top3jps-countdownContainer{
        width: 170px;
        width: -moz-calc(100% - 180px);
        width: -webkit-calc(100% - 180px);
        width: calc(100% - 180px);
    }

    #top3jps-footer-container .top3jps-countdownTitle,
    #top3jps-footer-container .top3jps-countdownMobileTitle{
        font-size: 20px !important;
        font-stretch: normal;
    }

    #top3jps-footer-container .top3jps-sidebar-jackpot{
        width: 100%;
    }

    #top3jps-footer-container #top3jps-container{
        max-width: 363px;
    }
}

a.top3jps-button.top3jps-for-gtm-trigger{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top:2px !important;
    padding-bottom: 2px !important;
}

@media only screen and (min-width: 768px){
    #top3jps-footer-container .top3jps-countdownMobileTitle{
        display: none;
    }

    #top3jps-footer-container .top3jps-countdownTitle{
        display: inline-block;
    }
    
    #top3jps-footer-container #top3jps-container{
        max-width: 375px;
    }
}

@media only screen and (min-width: 992px){
    #top3jps-footer-container #top3jps-closer::before{
        bottom: 55px;
    }

    #top3jps-footer-container{
        height: 70px;
        padding-top: 6px;
    }
}

@media only screen and (min-width: 1200px){
    #top3jps-footer-container .top3jps-sidebar-jackpot{
        width: 375px;
        float: left;
    }
    
    #top3jps-footer-container #top3jps-container{
        max-width: none;
        width: 1150px;
    }
}